
body{
    background-image: url('/media/img/f.jpg');
	padding-top:1em;
	margin:0;
}

#imga{
    float: left;
    margin-left:0.5em;
}

#title{
    font-size: 22pt;
    font-style: oblique;
    font-family: "URW Chancery L";
    color: #8A0808;
    z-index: -1;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: .1em;
    margin-left: 7em;
    margin-right: 2em;   
}

#topcontent
{
    min-height: 137px;
    /* Sombreado */
    -moz-box-shadow: 0 0 5px #CB9999;
    -webkit-box-shadow: 0 0 5px #CB9999;
    box-shadow: 0 0 5px #CB9999;

    font-size: 9pt;
    padding-left: 0em;
    padding-right: 0em;
    padding-top: 0.1em;
    margin-left: 2em;
    margin-right:0px;
    margin-bottom: 1em;
    padding-bottom: 0.1em;    
    position:relative;
    top:0em;
	-moz-border-radius-topleft:90px; 
	-moz-border-radius-bottomleft:90px;
	-webkit-border-top-left-radius:90px;
	-webkit-border-bottom-left-radius:90px;
	border-top-left-radius:90px;
	border-bottom-left-radius:90px;
    background-image:url('/media/img/top.png');
}

#sidecontent
{
	font-size: 12pt;
    text-align: center;
    padding-top:1em;
    padding-bottom:1em;
    padding-right:1em;
    padding-left:1em;
	-moz-border-radius:5px; -webkit-border-radius:5px; /* old browsers */
    border-radius:5px;
}

#maincontent
{
    font-size: 17px; 
    font-family: "URW Bookman L";
    /* Sombreado */
    -moz-box-shadow: -3px 3px 4px 3px #968F8F;
    -webkit-box-shadow: -3px 3px 4px 3px#968F8F;
    box-shadow:  -3px 3px 4px 3px #968F8F; 
	
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 3em;
    padding-bottom:4em;    
    margin-left:4em;	
    margin-right: 4em;
	margin-bottom:3em;
	position:relative; 
    -moz-border-radius:10px; 
    -webkit-border-radius:10px; 
    border-radius:10px;

    background-image: url('/media/img/main.png');
}

#menu { 
	list-style:none;
	padding:0;
}

#menu li {
    margin-right:2em;
	display:inline;

}

#menu li a {
/*REDONDEADO*/
	-moz-border-radius:7px; 
    -webkit-border-radius:7px;
	border-radius:7px;
	text-decoration:none;
	color:white;
    -moz-box-shadow: -3px 3px 4px 3px #968F8F;
    -webkit-box-shadow: -3px 3px 4px 3px#968F8F;
    box-shadow:  -3px 3px 4px 3px #968F8F;
	background-image: url('/media/img/menu.png');
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:2px;
	}
#menu li a:hover {
	color:black;/*#E1D7D7*/
    background-image: url('/media/img/menu2.png');
	}

.object_list
{
    margin: auto;
	font-size: 9pt;
    border: 1px solid gray;
}

.object_list tr td
{   
    border: 1px solid gray;
    padding: 0.2em 0.2em;
    background-color: white;
    text-align:center;
}


.con_list
{
    margin: auto;
	font-size: 7.5pt;
    background-color: #DADADA;
}

.con_list tr td
{   
    border: 1px solid gray;
    padding: 0.2em 0.5em;
    text-align:center;
    background-color: #F0F0F0;
}


.info_cheque
{
    margin:auto;
	font-size: 10pt;
}

.tdnombres
{   

    padding: 0.2em 0.5em;
    text-align:center;
    font-weight:bold;
}



.tdvalores
{   
    border: 1px solid gray;
    padding: 0.2em 0.5em;
    background-color: white;
    text-align:center;
}


input.new_link.button {
height: 28px;
border:0px black none;}

input.cancel_link.button {
height: 28px;
border:0px black none;}
input.cart-update{
text-indent: -9999px;
height: 28px;
width: 37px;
border:0px black none;
}
input.cart-delete{
text-indent: -9999px;
height: 28px;
width: 37px;
border:0px black none;
}

.button, .button:visited { 
  background: #222 repeat-x;
  display: inline-block;
  outline: none;
  padding: 5px 10px 6px;
  color: #FFF;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  
  position: relative;
  cursor:pointer
}
/* el efecto hover */
.button:hover { background-color: #111; color: #FFF;}
 /* el efecto click */
.button:active{ top: 1px;}

 /* botones medianos */
.button, .button:visited,.medium.button, .medium.button:visited {
  font-size: 13px;
  font-weight: bold;

}


.new_link.button, .new_link.button:visited { 
 background-color:#59A3F8; 
 float:left; 
 margin-left:1em; 
-moz-box-shadow: 0 0 5px #888;
 -webkit-box-shadow: 0 0 5px#888;
 box-shadow: 0 0 5px #888;}

.new_link3.button, .new_link3.button:visited { 
 background-color:#41E38D;
 float:left; 
 margin-left:1em; 
-moz-box-shadow: 0 0 5px #888;
 -webkit-box-shadow: 0 0 5px#888;
 box-shadow: 0 0 5px #888;}


.new_link2.button, .new_link2.button:visited { background-color:#41E38D;  float:right; margin-right:1em;
-moz-box-shadow: 0 0 5px #888;
 -webkit-box-shadow: 0 0 5px#888;
 box-shadow: 0 0 5px #888;}
/*.new_link.button:hover{ text-decoration: underline; }*/

.new_link4.button, .new_link4.button:visited {  background-color:#59A3F8; float:right; margin-right:1em;
-moz-box-shadow: 0 0 5px #888;
 -webkit-box-shadow: 0 0 5px#888;
 box-shadow: 0 0 5px #888;}


.del_link.button, .del_link.button:visited { background-color:red; float:right; margin-left:1em;
-moz-box-shadow: 0 0 5px #888;
 -webkit-box-shadow: 0 0 5px#888;
 box-shadow: 0 0 5px #888;
}

.cancel_link.button, .cancel_link.button:visited { background-color:orange}
.cancel_link.button:hover{ text-decoration: underline;}

.cart-delete, cart-delete:visited {background:url(/media/img/delete.png) no-repeat;}
.cart-update, .cart-update:visited {background:url(/media/img/update.png) no-repeat;}

.redf
{
    color:red;
}

.bluef
{
    color:blue;
}

.silverb
{
    background-color:#FAFAFA;
}


#contri{
    font-size: 12pt;
    color:#F6CECE;
    float:right;
    padding-right:1em;
    padding-left:.5em;padding-bottom:.1em;padding-top:.1em;
    background:#8A0808;
	-moz-border-radius-topleft:10px; 
	-moz-border-radius-bottomleft:10px; 
	-webkit-border-top-left-radius:10px; 
	-webkit-border-bottom-left-radius:10px; 
	border-top-left-radius:10px; 
	border-bottom-left-radius:10px; 
}

A.login_info:link {text-decoration: none; color:#F5BCA9;}
A.login_info:visited {text-decoration: none; color:#F5BCA9;}
A.login_info:active {text-decoration: none; color: white;}
A.login_info:hover {text-decoration: none; color: #FEFAD4;}


.mis-vis h2{
    text-align:center;
    color:#F9F0D1;
    background: #8A0808;
    font-size:3em;
    width:50%;
    margin:auto;
    -moz-box-shadow: -10px 10px 5px #888;
    -webkit-box-shadow: -10px 10px 5px #888;
    box-shadow: -10px 10px 5px #999;
}

.mis-vis p{
    color:black;
    width:80%;
    margin:auto;   
    padding: 4em 0;
    text-align:justify;	
}

.direcciones{
    text-align: center;
    font-weight:bold;font-style: italic;
}

#form{
    /*
    width:25%;
    margin:auto;    
    */
}

#form table{
    text-align:right;
    padding:1em;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    background-image:url(/media/img/dot.png);
    margin:auto;    
}

.welcome{
    padding: 0 4em 0 6em;
}

.menu { 
	list-style:none;
	padding:0;
}

.menu li {
    margin-right:2em;
	display:inline;
}

.menu li a {
	-moz-border-radius:7px; -webkit-border-radius:7px;
	border-radius:7px;
	text-decoration:none;
    font-weight: bold;
	color:#610B0B;
    -moz-box-shadow: -3px 3px 4px 3px #968F8F;
    -webkit-box-shadow: -3px 3px 4px 3px#968F8F;
    box-shadow:  -3px 3px 4px 3px #968F8F;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:2px;
background: rgb(213,206,166); /* Old browsers */
background: -moz-linear-gradient(top, rgb(213,206,166) 0%, rgb(213,206,166) 46%, rgb(183,173,112) 50%, rgb(213,206,166) 54%, rgb(183,173,112) 58%, rgb(183,173,112) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(213,206,166)), color-stop(46%,rgb(213,206,166)), color-stop(50%,rgb(183,173,112)), color-stop(54%,rgb(213,206,166)), color-stop(58%,rgb(183,173,112)), color-stop(100%,rgb(183,173,112))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(213,206,166) 0%,rgb(213,206,166) 46%,rgb(183,173,112) 50%,rgb(213,206,166) 54%,rgb(183,173,112) 58%,rgb(183,173,112) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(213,206,166) 0%,rgb(213,206,166) 46%,rgb(183,173,112) 50%,rgb(213,206,166) 54%,rgb(183,173,112) 58%,rgb(183,173,112) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(213,206,166) 0%,rgb(213,206,166) 46%,rgb(183,173,112) 50%,rgb(213,206,166) 54%,rgb(183,173,112) 58%,rgb(183,173,112) 100%); /* IE10+ */
background: linear-gradient(top, rgb(213,206,166) 0%,rgb(213,206,166) 46%,rgb(183,173,112) 50%,rgb(213,206,166) 54%,rgb(183,173,112) 58%,rgb(183,173,112) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5cea6', endColorstr='#b7ad70',GradientType=0 ); /* IE6-9 */
}

.menu li a:hover {
	color:#585858;
background: rgb(251,250,249); /* Old browsers */
background: -moz-linear-gradient(top, rgb(251,250,249) 0%, rgb(251,250,249) 46%, rgb(247,238,212) 50%, rgb(251,250,249) 54%, rgb(247,238,212) 58%, rgb(247,238,212) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(251,250,249)), color-stop(46%,rgb(251,250,249)), color-stop(50%,rgb(247,238,212)), color-stop(54%,rgb(251,250,249)), color-stop(58%,rgb(247,238,212)), color-stop(100%,rgb(247,238,212))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgb(251,250,249) 0%,rgb(251,250,249) 46%,rgb(247,238,212) 50%,rgb(251,250,249) 54%,rgb(247,238,212) 58%,rgb(247,238,212) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgb(251,250,249) 0%,rgb(251,250,249) 46%,rgb(247,238,212) 50%,rgb(251,250,249) 54%,rgb(247,238,212) 58%,rgb(247,238,212) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgb(251,250,249) 0%,rgb(251,250,249) 46%,rgb(247,238,212) 50%,rgb(251,250,249) 54%,rgb(247,238,212) 58%,rgb(247,238,212) 100%); /* IE10+ */
background: linear-gradient(top, rgb(251,250,249) 0%,rgb(251,250,249) 46%,rgb(247,238,212) 50%,rgb(251,250,249) 54%,rgb(247,238,212) 58%,rgb(247,238,212) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfaf9', endColorstr='#f7eed4',GradientType=0 ); /* IE6-9 */
}
  
.icono{
    padding:0;
}


.form{
    width: 60%;
    padding: 2em;
    background: #FFFEF8;
    -moz-box-shadow: -1px 1px 6px 1px #968F8F;
    -webkit-box-shadow: -1px 1px 6px 1px #968F8F;
    box-shadow:  -1px 1px 6px 1px #968F8F; 
}
.helptext{
    font-size:14px;
    font-style: italic;
}


.form_cc{
    width:30%;
    padding: 1.5em;
    background: #FFFEF8;
    -moz-box-shadow: -1px 1px 6px 1px #968F8F;
    -webkit-box-shadow: -1px 1px 6px 1px #968F8F;
    box-shadow:  -1px 1px 6px 1px #968F8F; 
}
.form_cc td{
    padding:.5em;
}

/*.reportes.button, .reportes.button:visited 
{  float:right; margin-right:1em;
}
*/
.reportmenu { 
	list-style:none;
	padding:0;
}

.reportmenu li {
    margin-right:2em;
    padding:2em;
	display:block;
}

.reportmenu li a {
	-moz-border-radius:7px; 
    -webkit-border-radius:7px;
	border-radius:7px;
	text-decoration:none;
    font-weight: bold;
    color:white;
    background-color:#41E38D; 
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:2px;
}

.reportmenu li a:hover {
	color:silver;
    background: green;
}

