{%extends 'base.html'%}

{%block extrahead%}
<title>Reporte Ordenado por Proveedor</title>
<link rel="stylesheet" type="text/css" media="all" href="/media/jquery/css/pepper-grinder/jquery-ui-1.8.16.custom.css" />
<script type="text/javascript" src="/media/jquery/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/media/jquery/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/media/js/operaciones.js"></script>
{%endblock%}


{%block sidecontent%}
    {%include 'diot/menudiot.html'%}
{%endblock%}

{%block maincontent%}
    <h1>Reporte por Proveedor</h1>

    <form method="POST">
        {%csrf_token%}
        <table class="form_cc">
            {{form}}
            <tr>
                <td> <input type="submit" value="Generar Reporte"> </td>
            </tr>
        </table>

    </form>
{%endblock%}

