{%extends "base.html"%}

{%block extrahead%}
{%load impuestos_tags%}

<link rel="stylesheet" type="text/css" media="all" href="/media/jquery/css/pepper-grinder/jquery-ui-1.8.16.custom.css" />
<script type="text/javascript" src="/media/jquery/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/media/jquery/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/media/js/operaciones.js"></script>
{%endblock%}

{%block sidecontent%}
    {%include "diot/menudiot.html"%}
{%endblock%}


{%block maincontent%}
    {%impuestos_inputs%}
    
    <form method="POST" onsubmit="calcular_iva();">
        {%csrf_token%}
        <table>
            {{form}}
        </table>
        <input type="submit" value="Crear Cheque Rapido">
        <input type="submit" value="Crear y Agregar Otro" name="add_concepto">

    </form>
{%endblock%}
