{%extends "base.html"%}

{%block sidecontent%}
    {%include "diot/menudiot.html"%}
{%endblock%}

{%block extrahead%}
{%load impuestos_tags%}
<title>Editar concepto del cheque {{cheque.referencia}} de la cuenta {{cheque.cuenta}}</title>
<link rel="stylesheet" type="text/css" media="all" href="/media/jquery/css/pepper-grinder/jquery-ui-1.8.16.custom.css" />
<script type="text/javascript" src="/media/jquery/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/media/jquery/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/media/js/operaciones.js"></script>
{%endblock%}


{%block maincontent%}
<h1>Editar Concepto</h1>

<br>
<a href="{%url diot.views.cheques_mes cheque.fecha.year cheque.fecha.month%}" class="button medium new_link">Regresar</a>
<br>
<br>
<br>
<br>
<a href="{%url diot.views.concepto_anterior concepto.id%}" class="button medium new_link">Concepto Anterior</a>
<a href="{%url diot.views.concepto_siguiente concepto.id%}" class="button medium new_link2">Siguiente Concepto</a>
<br>
<br>
<br>



<table class="info_cheque">
    <tr>
        <td class="tdnombres">Referencia: </td> <td class="tdvalores">{{cheque.referencia}} </td>
        <td class="tdnombres">Cuenta: </td> <td class="tdvalores">{{cheque.cuenta}} </td>
    </tr>
    <tr>
        <td class="tdnombres">Fecha: </td> <td class="tdvalores">{{cheque.fecha}} </td>
        <td class="tdnombres">Beneficiario: </td> <td class="tdvalores">{{cheque.beneficiario}} </td>
    </tr>
    <tr>

        <td class="tdnombres">Bancos: </td> <td class="tdvalores">{{cheque.bancos}} </td>
        <td class="tdnombres">MONTO PENDIENTE: </td> <td class="tdvalores redf">{{cheque.get_diferencia}} </td>
    </tr>
</table>

    <form method="POST" onsubmit="calcular_iva();">
    {%impuestos_inputs%}
        {%csrf_token%}
        <table>
            {{form}}
        </table>
        <input type="submit" value="Guardar Cambios">
        <input type="submit" value="Guardar y Agregar Concepto" name="add_concepto">
        <br>
        <br>
        <input type="submit" class="button medium new_link" value="<< Guardar y Anterior" name="add_anterior">
        <input type="submit" class="button medium new_link2" value="Guardar y Siguiente >>" name="add_siguiente">

    </form>
<br>
<br>
<br>
<a href = "{%url diot.views.eliminar_concepto concepto.id%}" class="medium button del_link"> Eliminar </a>
{%endblock%}
