{%extends "base.html"%}

{%block extrahead%}
{%load impuestos_tags%}

<link rel="stylesheet" type="text/css" media="all" href="/media/jquery/css/pepper-grinder/jquery-ui-1.8.16.custom.css" />
<script type="text/javascript" src="/media/jquery/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="/media/jquery/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/media/js/operaciones.js"></script>
{%endblock%}

{%block sidecontent%}
    {%include "diot/menudiot.html"%}
{%endblock%}


{%block maincontent%}
    {%impuestos_inputs%}
<br>
<a href="{%url diot.views.cheques_mes cheque.fecha.year cheque.fecha.month%}" class="button medium new_link">Regresar</a>
<br>
<br>
<a href="{%url diot.views.concepto_anterior concepto.id%}" class="button medium new_link">Concepto Anterior</a>
<a href="{%url diot.views.concepto_siguiente concepto.id%}" class="button medium new_link2">Siguiente Concepto</a>
<br>
<br>
<br>

    <form method="POST" onsubmit="calcular_iva();">
        {%csrf_token%}
        <table>
            {{form}}
        </table>
        <input type="submit" value="Guardar Cambios">
        <input type="submit" value="Guardar y Agregar Otro" name="add_concepto">
        <br>
        <br>
        <input type="submit" class="button medium new_link" value="<< Guardar y Anterior" name="add_anterior">
        <input type="submit" class="button medium new_link2" value="Guardar y Siguiente >>" name="add_siguiente">


    </form>
<br>
<br>
<br>

<a href = "{%url diot.views.eliminar_cheque cheque.id%}" class="medium button del_link"> Eliminar </a>
{%endblock%}
