{%extends "base.html"%}

{% block extrahead %}
    <title>Acerca de Nosotros</title>
{% endblock %}


{%block maincontent%}
    <div class="mis-vis">
       <h2>Misión</h2>
        <p>{{empresa.mision}}</p>
        <h2>Visión</h2>
        <p>{{empresa.vision}}</p>
    </div>

    <div class="direcciones">
        {{empresa.ciudad}}, {{empresa.estado}}, {{empresa.pais}} {{empresa.direccion}}
        <br>
        Teléfono/Fax: {{empresa.telefono}}/{{empresa.fax}}, Correo Electrónico: {{empresa.email}}
    </div>
{%endblock%}	
