{%extends "base.html"%}

{%block extrahead%}
<title>Crear nuevo TOTAL</title>
{%endblock%}

{%block sidecontent%}
    {%include "diot/menudiot.html"%}
{%endblock%}


{%block maincontent%}
<br>
<br>
<br>
    

    <form method="POST">
        {%csrf_token%}
        <table class="form_cc">
            {{form}}
        <tr>
            <td> <input type="submit" value="Crear"> </td>
            <td> <input type="submit" value="Crear y Agregar otro" name="add_another"> </td>
        </tr>
        </table>

    </form>
{%endblock%}
