<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html>
    <head>

        <link rel="stylesheet" type="text/css" media="all" href="/media/css/style.css" /> 

        {%block extrahead%}
            <title> NOMBRE DE LA EMPRESA </title>
        {%endblock%}
    </head>

    <body>
        <div id="topcontent">
            {%block topcontent%}
                <h3> TITULO </h3>
            {%endblock%}

            {%if request.user.id%}

                {%if request.user.is_staff%}

                <a href="{%url users.views.seleccionar_contri%}">{{request.user.username}}</a> | <a href= "{%url users.views.panel%}">{{request.session.contri}}</a> | <a href="{%url gonzalez.users.views.logout%}">Cerrar Sesion</a>

                {%else%}

                {{request.user.username}} | <a href= "{%url users.views.panel%}">{{request.user.get_profile.contribuyente}}</a> | <a href="{%url gonzalez.users.views.logout%}">Cerrar Sesion</a>

                {%endif%}
            {%else%}
                {{request.user.username}}
                Contribuyentes iniciar sesión <a href="{%url gonzalez.users.views.login%}">AQUÍ</a>
            {%endif%}
        </div>

        <div id="sidecontent">
        {%block sidecontent%}

            {%include "menu.html"%}

        {%endblock%}
        </div>


        <div id="maincontent">
            {%block maincontent%}
            {%endblock%}
        </div>
    <body>
</html>
