{%extends "base.html"%}

{%block sidecontent%}
    {%include "diot/menudiot.html"%}
{%endblock%}


{%block maincontent%}
<div>
    <a href="{%url diot.views.cuentas_crear%}" class="medium button new_link"> <img src="/media/img/newfile.gif" class="icono"> Crear Nueva Cuenta Bancaria</a>
</div>
<br>
<br>
<br>
    <table class="object_list">
        <tr>
            <th>Número</th>
            <th>Banco</th>
        </tr>
    {%for cuenta in cuentas%}
        <tr>
            <td>{{cuenta.numero}}</td>
            <td>{{cuenta.banco}}</td>
        </tr>
    {%endfor%}
    </table>
{%endblock%}
